extends layout.pug


block content
    ul#todo
        each val in classes
            li(id=val.class_id)= "Course Name: " + val.name + ",     Number of Students: " + val.numberOfStudents + ', Section: ' + val.section
    button(type='submit' onClick='returnHome()') Return to Homepage