extends layout.pug
block content
    p Please select one of the options below.
    button(name = "button_id" value = "searchClasses", type = "submit" onClick="searchClasses()") Search Classes
    button(name = "button_id" value = "display", type = "submit" onClick="displayCourses()") Display Courses
    button(name = "button_id" value = "logout" type = "submit" onClick="logout()") Logout