doctype html
html
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		style.
			p {
				
				border: 1px solid black;
				padding: 10px;
				background-color: rgb(118, 215, 189);
				margin: 0px;
				color: black;
				font-size: 18px;
				text-align: left;
				text-decoration: bold;
			}
	body 
		style.
			
		
		p Course Management System
		
		
		
		block content