doctype html
html
	head
		|<script
		|src="https://code.jquery.com/jquery-3.4.1.js"
		|integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		|crossorigin="anonymous"></script>
	
	
		title= titles
		script(src='/script.js')
		script(src='/studentAjax.js')
		script(src='/instructorAjax.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		style.
			p {
				
				border: 1px solid black;
				padding: 10px;
				background-color: rgb(118, 215, 189);
				margin: 0px;
				color: black;
				font-size: 18px;
				text-align: left;
				text-decoration: bold;
			}
	body 
		style.
			
		
		p Course Management System
		
		
		
		block content