extends layout.pug

block content
	if message == 'missingField'
		p One or more fields missing.
	if message == 'courseExists'
		p Course with same identifiers already exists.
	if message == 'success'
		p #{newCourse.dept_abbv} #{newCourse.num} added!
	
	p Please complete the following form.
	form(method = "post" action = "/admin/newCourse")
		div.form-group
			label(for='name') Name of Course:
			input(type = 'text', name = "name")
		div.form-group
			label(for='dept') Course Department:
			select(name = 'dept')
				each dept in depts
					option(value = dept) #{dept.dept_abbv}
		div.form-group
			label(for='num') Course Number:
			input(type = 'text', name = "num")
		div.form-group
			label(for='desc') Course Description (optional):
			input(type = 'textarea', name = "desc" rows = "6" cols = "66")
		div.form-group
			label(for='len') Course Length:
			- const lengths = [{name: 'Full Term', value: 'full'}, {name: 'Half Term', value: 'half'}, {name:'Short', value: 'short'}]
			select(name = 'len')
				each length in lengths
					option(value = (length.value)) #{length.name}
		div.form-group
		button(type = "submit" name = "button_id" value = "submit") Add New Course
		div.form-group
		button(type = "submit" name = "button_id" value = "cancel") Return to Homepage
		