extends layout.pug



block content
	script(src='/studentAjax.js')
	p Welcome #{name}!
	p Please select one of the options below.
	button(name = "button_id" value = "register" type = "submit" onClick='register()') Register



