extends layout.pug

block content
	p Welcome #{name}!
	p Please select one of the options below.
	form(method = "post" action = "/student")
		div.form-group
			button(name = "button_id" value = "logout" type = "submit") Logout
		div.form-group
			button(name = "button_id" value = "courseRegistration" type = "submit") Register
		div.form-group
			ul
				each course in courses
					li=course


