extends layout.pug

block content
	p Welcome #{name}!
	p Your courses are shown below:
	ul
		each c in class
			li=course.course_name
		div.form-group
			button(name = "button_id" value = "return" type = "submit") Return to Homepage