extends layout.pug

block content
    script(src='/studentAjax.js')
    ul#todo
        each val in classes
            li(id=val.class_id)= val.name
    button(type='submit' onClick='returnHome()') Return to Homepage